#neo_avirato *{
    box-sizing: border-box;
}
#neo_avirato {
    width: 570px;  
    margin: 0 auto
}
.containerAvirato {
    padding-right: 15px;
    padding-left: 15px;  
}
#container_form_Avirato {
    margin: 0 15px 15px;  
    padding: 10px;
    min-width: 224px;
}
#neo_avirato .title_avirato {  
    font-family: 'Open sans',sans-serif;
    padding: 7px 0;
    text-align: center;
    overflow: hidden;
    background-color: rgba(0,0,0,.54);
    color: #fff;
    float: left;
    width: 100%;
    margin-top: 5px;
}
.title_avirato .high_avirato {
    font-weight: 700;
    font-size: 1.429em;   
    text-transform: uppercase;    
    width: 25%;   
    text-align: left;
    float: left;
    height: 100%;
    margin-top: 1px;
}
.high_avirato{
    color:#fff;
    display: block;
    font-size: 14px;
    text-align: left;
    margin-left: 5px;
}
.small_avirato,.small_avirato1 , .small_avirato1 span{
    font-style: italic;
    line-height: 1.286em;
    position: relative;
    padding-bottom: 5px;
    width: 75%;
    text-align: left;
    color:#fff;
    display: block;
}
.small_avirato1{
    padding-bottom: 0;
  font-size: 13px;
}
.small_avirato1 span{
    margin-left: 57px;
  
}
.small_avirato1:before{
    content: url(../icons/calendario-mini.png);
    position: absolute;
    width: 15px;
    height: 15px;
    top: 67px;
    left: 15px;
}
#pre_avirato{
    margin-bottom: 10px;
}
.title_avirato .small_avirato:after {
    content: '';
    position: absolute;
    left: 28%;
    bottom: 0;
    width: 45%;
    background-color: #fff;
    height: 1px;
}
#cont{
    background: rgba(0,0,0,.54);
    overflow: hidden;
    width: 100%;
    padding: 7px 0;
}
#form_avirato {

    overflow: hidden;
    padding: 5px;
}
.container_fields_avirato.dates_avirato {
  
    float: right;
    margin-right: 7px;
}
.inputs-holder, .container_fields_avirato {
    display: inline-block;
    vertical-align: top;
}
.input-field_avirato {
    display: inline-block;
    text-align: center;
    padding: 16px 21px 17px;
}
.reservation-form_avirato label {
    color: #532e09;
    display: block;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 700;
    font-size: .857em;
    line-height: 1.333em;
    text-transform: uppercase;
}
.box_day_avirato {
    font-size: 25.4px;
    line-height: 1.08em;
    color: #dd9933;
    font-weight: 700;
    display: block;
    text-align: center;
    border: none;
    margin: 4px auto 6px;
}
.box_day_avirato, .month_name_avirato {
    /*font-family: 'Josefin Sans',sans-serif;*/
    text-shadow: 1px 1px 0 rgba(83,46,9,.66);
}
button, input, select[multiple], textarea {
    background-image: none;
}
.month_name_avirato {
    font-size: .857em;
    line-height: 1.333em;
    color: #dd9933;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 1px 1px 0 rgba(83,46,9,.3);
}

.type-text {
    float: none;
    width: 83px;
    font: 12px 'Yanone Kaffeesatz',Arial,Helvetica,sans-serif;
    border: none;
    color: #dd9933;
    background: 0 0;
    text-align: center;
    outline: 0;
    padding: 0 6px 0 7px;
}
.input-field_avirato.line-box_avirato {
    border-left: 1px solid #adabab;
    padding: 40px 0;
}
.container_fields_avirato.promo_avirato {
    display: initial;
}
.promo_avirato .texto_avirato {
    color: #fff;
    font-family: 'Open sans',sans-serif;
    line-height: 1em;
    font-weight: 400;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 9px;
    text-align: center;
    float: right;
    margin-bottom: 6px;
    width: 189.83px;
    padding-bottom: 7px;
    border-bottom: 1px solid #929292;
}
#container_form_Avirato .btn_avirato.arrow_avirato {    
    float: right;
    font-size: 13px;
    margin-right: 10px;

}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

#neo_avirato nav#filter a.current,#neo_avirato nav#filter a:hover,#neo_avirato .grey_gold_avirato:hover,#neo_avirato .transparent_gold_avirato_border:focus,#neo_avirato .transparent_gold_avirato_border:hover,#neo_avirato .btn_avirato.arrow_avirato.gold_avirato:hover,#neo_avirato .gold_avirato, #neo_avirato #check-availability:hover {
    background-color: #dd9933 !important;
    color: #fff !important;
}
#neo_avirato .btn_avirato {
    text-transform: uppercase;
    transition: all .3s ease-out;  
    background-color: #f7f7f7 !important;
    color: #dd9933 !important;
    font-family: 'Josefin Sans',sans-serif !important;
    display: inline-block;
    padding: 6px 12px !important;
    margin-bottom: 0px !important;
    margin-right: 7px !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    width: 48%;
    height: 33px;
}
#date-picker-1, #date-picker-2{
    width: 28px;
}
.input-field_avirato:not([class="input-field_avirato line-box_avirato"]) {
    width: 130.38px;
        background: #fff;
}
input#prom {
    margin-left: 7px;
  margin-bottom: 0;
    display: block;
    float: left;
    width: 48%;
    padding: 5px;
    text-align: center;
    height: 33px;
    background: #fff;
}
#check-availability{
    -webkit-appearance:none;
}
.small_avirato1 div {
    float: left;
    margin-top: 6px;
}
.small_avirato1 span:last-of-type {
    padding-bottom: 0;
}
@media (max-width:584px){
    #neo_avirato{
        width: 95%;
    }
    #neo_avirato .title_avirato {
        height: 120px;
    }
    .title_avirato .high_avirato {
        float: none; 
        clear: both;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .small_avirato, .small_avirato1 {
        float: none;
        display: block;
        width: 100%;
    }
    .container_fields_avirato.dates_avirato {
        float: none;
        margin: 0 auto;
        display: block;
    }
    .promo_avirato .texto_avirato {
        float: none;
        margin: 15px auto;
        display: block;
    }
    input#prom {
        float: left;
        margin: 0;
        display: block;
        width: 48%;
        height: 34px;
    }
    #container_form_Avirato .btn_avirato.arrow_avirato {
        float: right;
        margin:  1px 0 0 0;
        display: block;
        width: 48%;
    }
    .container_fields_avirato.dates_avirato.input-daterange_avirato{
        overflow: hidden;
    }
    .container_fields_avirato.dates_avirato.input-daterange_avirato .input-field_avirato:first-child{
        float: left;

    }
    .container_fields_avirato.dates_avirato.input-daterange_avirato .input-field_avirato:last-child{
        float: right;
    } 
    .input-field_avirato:not([class="input-field_avirato line-box_avirato"]) {
        width: 49%;
    }
    .input-field_avirato.line-box_avirato {
        padding: 0px 0 107px;
        height: 100%;
        width: 1px;
    }
}
@media (max-width:520px){
    input#prom {
        float:none;
        margin: 0 auto 5px;;
        width: 187.86px;
    }
    #container_form_Avirato .btn_avirato.arrow_avirato {
        float: none;
        margin: 0 auto 5px;
        width: 187.86px;
    }
}
@media (max-width:430px){
    #neo_avirato .title_avirato {
        height: inherit;
    }
}
@media (max-width:390px){
    .input-field_avirato {

        padding: 16px 0px 17px;
    }
}
div#ui-datepicker-div {
    display: none;
}