
#reserv{
    display: block;
    width: 125px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #222;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;
    color: #222;
}
#reserv:hover{
    background: rgba(2,2,2,.5) !important;
    color:#fff !important;

}


ESTILOS VERTICAL
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* html .clearfix {
    zoom: 1;
}

IE6 
*:first-child + html .clearfix {
    zoom: 1;
}
/*================avirato_form================*/

#avirato{
    position: fixed;
    top: 125px;
    left: -300px;
    transition: all ease-in 1s;
    z-index: 2;
}
.avirato_form {
    background-color: rgba(1,1,1,.8);
    transition: all 0.6s;
    top: 100px;
    text-align: center;
    padding: 20px;
    width: 250px;
    min-width: 250px;

}
#form_avirato{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.avirato_form div{
    width:100%;
    background: #fff;
    position: relative;
}
.avirato_form div:not(:first-of-type), .avirato_form div:not(:last-of-type){
    margin: 15px 0;
}
.avirato_form select, .avirato_form input{
    height: 40px;
    padding: 0 5px;
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 2;
    border:1px solid #ddd;
    margin-bottom: 0;
    border:0 !important;
    border-radius:0 !important;
}

.avirato_form .btn {
    /*background-color: !important;*/
    border-radius: 0;
    cursor: pointer;
    text-transform: uppercase;
}
.avirato_form .btn:hover {
    border-radius: 0;
    opacity: .5;
}

.iconAv{
    /*color:;*/
    margin: 0px!important;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 19px;
    z-index: 1;

}
.transition{
    left:10px !important;

}
div#ui-datepicker-div {
    display: none;
}
#cerrarO{
    cursor: pointer;
    
}
#check-availability{
    -webkit-appearance:none;
    margin: 0;
}