.avirato_form * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/*================avirato_form================*/

.avirato_form {

  background-color: rgba();
  transition: all 0.6s;
  bottom: 0;
  text-align: center;
  padding: 20px;
  margin:0 auto;
}
#form_avirato{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.avirato_form.acipZone div{

  width:14.65%;
  float: left;
  position: relative;
  background: #fff;

}
.avirato_form div{

  width:18%;
  float: left;
  position: relative;
  background: #fff;

}
.simpleCal div{
  width:23%;
}
#avirato_container label{
  text-align:left;
  font-weight: normal;
  margin-bottom: 0;
}
.avirato_form div:not(:first-of-type), .avirato_form div:not(:last-of-type){
  margin: 0 1% ;
}
.avirato_form select, .avirato_form input{
  margin:initial;
  background:initial !important;
  height: 40px;
  padding: 0 5px;
  width: 100%;
  background: transparent !important;
  position: relative;
  z-index: 2;
  border:1px solid #ddd;
}

.avirato_form .btn {
  background-color: #222 !important;
  border-radius: 0;
  cursor: pointer;
  text-transform: uppercase;
}
.avirato_form .btn:hover {
  border-radius: 0;
  opacity: .5;
}
.avirato_form #check-availability {
  border:none;
  border-radius: 0;
  -webkit-appearance:none;
}
.iconAv{
  /*color:;*/
  margin: 0px!important;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 19px;
  z-index: 1;

}
.stickyAvirato{
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999 !important;
}
@media (max-width:1120px){
  #form_avirato{
    width: 100%;

  }
  .avirato_form div{
    width:30%;
    float: left;
    position: relative;

  }
  .avirato_form div:not(:first-of-type), .avirato_form div:not(:last-of-type){
    margin: 0 1% 15px;
  }
}
@media (max-width:959px){
  #form_avirato {
    display: block;
    width:300px;
}
  .avirato_form div{
    width:100%;
    float: none;
    position: relative;
    margin:0 0 15px !important;
  }
}
@media (max-width:690px){
  .avirato_form div{
    width:100%;

    position: relative;
    margin:0 0 15px !important;
  }
  }#ui-datepicker-div{
    z-index:999 !important;
  }
  div#ui-datepicker-div {
    display: none;
  }
  #catSelect.animationSelect {
    background: linear-gradient(-45deg,  #222222, #ffffff) !important;
    background-size: 400% 400%;
    -webkit-animation: Gradient.5s ease 1;
    -moz-animation: Gradient .5s ease 1;
    animation: Gradient .5s ease 1;
  }

  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
      color:#fff;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
      color:#fff;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
      color:#fff;
    }
    100% {
      background-position: 0% 0%;
    }
  }
